* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  /* padding-right: 80px; */
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav__list {
  display: flex;
  list-style: none;
  gap: 40px;
}
.nav {
  display: flex;
  align-items: center;
}

body {
  background-color: #171717;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 80px;
}

.row {
  display: flex;
}

.header__logo {
  color: white;
  font-size: 36px;
  font-weight: 700;
}
.nav__item a {
  color: white;
  font-size: 18px;
}

.nav__item a:hover {
  color: #27ae60;
  transition: all 0.3s;
}

.banner {
  display: flex;
  padding-left: 80px;
  padding-right: 80px;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.banner__left {
  display: flex;
  flex-direction: column;
}

.banner__heading {
  color: white;
  font-size: 48px;
  font-weight: 700;
}

.banner__job {
  color: #828282;
  font-weight: 500;
  font-size: 18px;
  margin: 20px 0;
}

.button {
  color: white;
  padding: 12px 24px;
  cursor: pointer;
}

.button--primary {
  background-color: #27ae60;

  border: none;
}

.button-primary:hover {
  background-color: #a5fea5;
  border: none;
  transition: all 0.3s;
}
.button--secondary {
  margin-left: 20px;
  background-color: transparent;
  border: 1px solid #f2f2f2;
}
.button-secondary:hover {
  background-color: #171717;
}
.banner__right {
  width: 650px;
  height: 650px;
  border-radius: 50%;
  border: 1px solid rgba(30, 29, 19, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__img {
  width: 600px;
  height: 600px;
  border-radius: 50%;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  margin-top: 100px;
  padding: 0 80px;
}

.section__heading {
  font-weight: 700;
  font-size: 48px;
  color: white;
  margin-bottom: 60px;
  text-align: center;
}
.about__desc {
  font-weight: 400;
  font-size: 18px;
  color: white;
  text-align: center;
  width: 745px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.about__list {
  display: flex;
  gap: 80px;
}

.about__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__item div {
  box-sizing: content-box;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #27ae60;
  border: 25px solid #212121;
}
.about__item span {
  font-weight: 700;
  font-size: 18px;
  color: white;
  margin-top: 16px;
  margin-bottom: 3px;
}

.about__item p {
  font-weight: 400;
  font-size: 18px;
  color: white;
  margin-top: 16px;
}

.feature__list {
  list-style: none;
  display: flex;
  gap: 100px;
  width: 100%;
}

.feature__items {
  width: 100%;
  background-color: #212121;
  padding: 40px 60px;
  max-width: calc((100% - 200px) / 3);
}

.feature__items p {
  font-size: 36px;
  font-weight: 500;
  color: #535353;
  margin-top: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.feature__item--highlight {
  border-bottom: 8px solid #27ae60;
}

.skill__list {
  list-style: none;
  display: flex;
  background-color: #212121;
  padding-top: 40px 0;
  
  /* width: 100%; */
}

.skill__items {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill__items span {
  font-weight: 700;
  font-size: 72px;
  color: #4f4f4f;
}

.skill__items p {
  font-weight: 700;
  font-size: 24px;
  color: #27ae60;
  text-transform: uppercase;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__input {
  background-color: #171717;
  border: none;
  font-weight: 700;
  font-size: 14px;
  border-bottom: 1px solid #4f4f4f;
  width: 358px;
  padding-bottom: 8px;
  outline: none;
  color: #f2f2f2;
}
.contact__list {
  list-style: none;
  display: flex;
  width: 752px;
  flex-wrap: wrap;
  column-gap: 36px;
  row-gap: 48px;
}

.contact__textarea {
  width: 752px;
  margin-top: 48px;
  margin-bottom: 32px;
  padding: 12px;
  height: 109px;
  background-color: #171717;
  font-weight: 700;
  font-size: 14px;
  outline: none;
  color: #fff;
  border: 1px solid #4f4f4f;
}
footer {
  margin-top: 100px;
  padding-bottom: 28px;
}
footer p {
  font-weight: 500;
  font-size: 14px;
  color: #4f4f4f;
  text-align: center;
}
